/*homepg css*/

html {
    background-color: #38b6ff;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #38b6ff;
    font-family: "Poppins", sans-serif;
    margin: 0px 0px 0px 0px;
}

a {
    color: #56baed;
    display: inline-block;
    text-decoration: none;
    font-weight: 400;
}

h2 {
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    display: inline-block;
    margin: 40px 8px 10px 8px;
    color: #56baed;
}


/*Navbar css*/

.navbar {
    background-color: black;
}

.navbar-light .navbar-nav .active>.nav-link {
    color: rgb(125, 186, 255);
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: rgb(172, 209, 252);
    text-decoration: underline;
}

.active {
    color: #0d0d0d;
    border-bottom: 2px solid #0c2938;
    font-weight: 1000;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 5px 0px;
    animation: normal;
}

.navbar-light .navbar-nav .nav-button {
    padding: 5px;
    margin-left: 10px;
    border: 1px solid #56baed;
    background-color: black;
    color: #fff;
}